<!--
Author: w3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<html lang="zxx">

<head>
    <title>Exert Design Multi Purpose Category Bootstrap Responsive web Template | Home :: W3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Exert Design Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- Custom Theme files -->
    <link href="../static/home1/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="../static/home1/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="../static/home1/css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>

     <section class="main-banner" id="home">
        <div class="header-top-w3layouts text-right">
            <ul id="menu">
                <li>
                    <!-- <input id="check02" type="checkbox" name="menu" />
                    <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
                    <ul class="submenu">
                        <li><a href="..static/home1/HOME1.html">Home</a></li>
                        <li><a href="#about" class="scroll">About</a></li> -->
                        <li><a href="..static/home1/contact.html"></a></li>
                  </ul>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="baner-info-w3ls text-left">
                <h1><a href="..static/home1/HOME1.html">SINCERE ARTS AND SPORTS CLUB </a></h1>
                <h6 class="mx-auto mt-4">&nbsp;</h6>
                <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" href="log" role="button">LOGIN</a>
                <div class="banner-high-lights text-left">
                    <div class="rotate">
                        <a href="#about" class="scroll">
                               <!-- <span class="fa fa-long-arrow-down"></span>                  -->
						</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- what we do --><!-- //what we do -->
    <!-- banner-bottom1 --><!-- //banner-bottom1 -->
<!-- banner-bottom2 --><!-- //banner-bottom2 -->
    <!-- banner-bottom3 --><!-- //services -->
    <!--//team -->
    <section class="team-main-sec py-lg-5 py-4" id="team">
      <div class="container"></div>
    </section>
    <!--//team -->
    <!-- Gallery --><!--testimonials-->
    <section class="testimonials py-5" id="testimonials">
      <div class="container"></div>
    </section>
    <!-- footer --><!-- //footer -->

</body>

</html>
