#PROFILE UPDATION CODING PART
@app.route("/updprof")
def updprof():
    q1 = "SELECT * FROM `register` WHERE register.login_id=%s"
    res=selectone(q1,session['lid'])
    return render_template("updprof.html",val=res)


@app.route("/updpro",methods=['post','get'])
def updpro():
    fname = request.form['textfield']
    lname = request.form['textfield2']
    gender = request.form['radiobutton']
    place = request.form['textfield3']
    post = request.form['textfield4']
    pincode = request.form['textfield5']
    phone = request.form['textfield6']
    email = request.form['textfield7']

    qry1 = "UPDATE `register` SET `first_name`=%s,`last_name`=%s,`gender`=%s,`place`=%s,`post`=%s,`pin`=%s,`phone`=%s,`email_id`=%s WHERE `login_id`=%s"
    val1 = (fname, lname, gender, place, post, pincode, phone, email,session['lid'])
    iud(qry1, val1)
    return '''<script>alert("profile updated successfuly");window.location="userhome"</script>'''





#profile update in form

#LOGIN FUNCTION
@app.route('/login', methods=['post', 'get'])
def login():
    username = request.form['textfield']
    password = request.form['textfield2']
    qry = "SELECT * FROM `login` WHERE `username`=%s AND `password`=%s"
    val = (username, password)
    res = selectone(qry, val)

    if res is None:
        return '''<script>alert("invalid"); window.location="/"</script>'''
    elif res['type'] == 'admin':
        session['lid']=res['login_id']
        return redirect('/admhome')
    elif res['type'] == 'user':
        session['lid'] = res['login_id'] #getting user id from login function
        return redirect('/userhome')
    else:
        return '''<script>alert("invalid"); window.location="/"</script>'''



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="updpro">
  <div align="center">
    <table width="312" border="1">
      <tr>
        <td width="125">First Name </td>
        <td width="171"><label>
          <input type="text" name="textfield" value="{{val['first_name']}}" />
        </label></td>
      </tr>
      <tr>
        <td>Last Name </td>
        <td><label>
          <input type="text" name="textfield2" value="{{val['last_name']}}" />
        </label></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><label>
          <input name="radiobutton" type="radio" value="MALE" {% if val['gender']=='MALE'  %}checked {% endif %}/>
          Male
          <input name="radiobutton" type="radio" value="FEMALE" {% if val['gender']=='FEMALE'  %}checked {% endif %}/>
          Female
        </label></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><label>
          <input type="text" name="textfield3" value="{{val['place']}}" />
        </label></td>
      </tr>
      <tr>
        <td>Post</td>
        <td><label>
          <input type="text" name="textfield4" value="{{val['post']}}" />
        </label></td>
      </tr>
      <tr>
        <td>Pincode</td>
        <td><label>
          <input type="text" name="textfield5" value="{{val['pin']}}" />
        </label></td>
      </tr>
      <tr>
        <td>Phone Number </td>
        <td><label>
          <input type="text" name="textfield6" value="{{val['phone']}}"/>
        </label></td>
      </tr>
      <tr>
        <td>Email id </td>
        <td><label>
          <input type="text" name="textfield7" value="{{val['email_id']}}" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="UPDATE" />
          </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
