<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>View members</title>
</head>  -->
{% extends "admin/adhm.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="912" height="192" border="1" class="table table-bordered bg-warning">
    <h1>CLUB MEMBERS</h1>
    <tr>
      <th class="bg-info"width="42" height="52" scope="row">Sl No </th>
      <td class="bg-info" width="142">Name</td>
      <td class="bg-info" width="152">Address</td>
      <td class="bg-info" width="185">Phone no </td>
      <td class="bg-info" width="247">Gender</td>
      <td class="bg-info"width="104">Date of birth </td>
      <td class="bg-info"width="150">Date of Join</td>
    </tr>
    {% for i in val %}
    <tr>
      <th scope="row">&nbsp;{{ loop.index }}</th>
      <td>{{i['Name']}}</td>
      
      <td>{{i['Address']}}</td>
      <td>{{i['Phoneno']}}</td>
      <td>{{i['gender']}}</td>
      <td>{{i['dob']}}</td>
      <td>{{i['date']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!-- </html> -->
{% endblock %}

